body {
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}