body {
	font-family: 'Roboto', sans-serif;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}


.flex {
	display: flex;
	height: 100vh;
		
	&--center {
		justify-content: center;
		align-items: center;
	}
}
