@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

/* to use, here is the syntax
@mixin atSmall {
font-size: 4.8rem;
}
*/

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
}
