

/*  POSITIONING */

.flex {
	display: flex;

	&--center {
		justify-content: center;
		align-items: center;
	}

	&--end {
		justify-content: center;
		align-items: flex-end;
	}
}

/*  BRAND COLOR */

$mainBlue: #1088a0;

.brand {

  &--blue {
    color: #1088a0;
  }

  &--white {
    color: #ffffff;
  }

  &__bold {
    font-weight: 400;
  }
}
