.banner {
  &--main {
    background-image: url('../../assets/images/headerviva.jpeg');
    background-size: cover;
    background-position: -7rem 0rem;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
  }

  &--main-halved {
    background-image: url('../../assets/images/headerviva.jpeg');
    background-size: cover;
    position: relative;
    height: 50vh;
  }
  &--title {
    font-size: 3rem;
    color: white;

    @mixin atSmall {
    font-size: 4.8rem;
    }
  }

  &--title-adjustment {
    margin-bottom: 0.5rem;
  }

  &--breakfast-menu {
    background-image: url('../../assets/images/breakfast-banner-bg.jpg');
    background-size: 29rem 24rem;
    background-position: bottom;
    height: 30vh;
    background-repeat: no-repeat;
    position: relative;
  }

  &--lunch-menu {
    background-image: url('../../assets/images/lunch-banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-repeat: no-repeat;
    position: relative;
  }

  &--baked-goods-menu {
    background-image: url('../../assets/images/baked-goods-banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-repeat: no-repeat;
    position: relative;
  }
}
