.footer {
    background-color: #20252d;
    height: 20%;
    color: #ffffff;

   &__hours-heading {
     width: 100%;
     padding-top: 3em;
     text-align: center;

     span {
        display: block;
        margin-bottom: 1em;
     }
   }

   &__hours_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 0.5em;
      text-align: center;
      margin-bottom: 2em;
   }
}
