.footer {
    background-color: #20252d;
    height: 20%;
    color: #ffffff;
    line-height: 1.3rem;

   &__hours__top-column {
     width: 100%;
     padding-top: 1rem;
     text-align: center;
   }

   &__hours-wrapper {
      padding: 1.5rem 0rem;
   }

   &__hours__left-column {
      text-align: center;
      width: 50%;
      span {
        display: block;
      }
   }

   &__hours__right-column {
     text-align: center;
     width: 50%;
     span {
       display: block;
     }
   }
}
