.footer {
      background-color: #20252d;
      color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-row-gap: 1em;
      text-align: center;
      width: 100%;
      padding: 4em 0em;

      @mixin atSmall {
         grid-template-columns: 1fr;
         grid-column-gap: 1em;
         justify-items: end;
      }

   span {
      margin-right: 0em;

      @mixin atSmall {
         margin-right: 10%;
      }
   }

   &__header {
      grid-column: 1/3;
      grid-row: 1/2;

      @mixin atSmall {
         grid-column: 1/1;
         grid-row: 1/1;
      }
   }

   &__sub-header {
      grid-column: 1/3;
      grid-row: 2/3;

      @mixin atSmall {
         grid-column: 1/1;
         grid-row: 2/2;
      }
   }
}
