.horizontal-lines {
  padding: 3em 0em;

  &--first {
    width: 90%;
    margin-bottom: 2px;
  }

  &--second {
    margin-top: 2px;
    width: 90%;
    height: 3px;
    background-color: black;
  }
}
