/*  styles the pargraphs for main page */

.content {
  transform: translateY(-2.5em);

  &--paragraph {
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
    width: 90%;
    line-height: 1.7em;
    font-size: 1rem;
    
    @mixin atSmall {
      width: 80%;
    }

    @mixin atMedium {
      width: 75%;
      text-align: left;
    }
  }
}
