/* formats item block on menu*/

.item {

  /* @mixin atMedium {
    width: 50%;
  } */


  &--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    @mixin atMedium {
      grid-template-columns: 1fr 1fr;
    }
  }
  &--bar {
    width: 100%;
    text-align: center;
  }
  &--title {
    text-align: center;
    display: inline-block;
    font-weight: 300;
    font-size: 0.9rem;
  }
  &--price {
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 0.4rem;
  }
  &--description {
    padding-top: 0;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
  }
}
