/* formats item block on menu*/

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;

  &--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    @mixin atMedium {
      grid-template-columns: 1fr 1fr;
    }
  }
  &--bar {
    width: 100%;
    text-align: center;
  }
  &--title {
    text-align: center;
    display: inline-block;
    font-weight: 300;
    font-size: 0.9rem;
  }
  &--price {
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 0.4em;
    color: $mainBlue;
  }
  &--description {
    padding-top: 0;
    margin: 0em 2em;
    text-align: center;
    font-size: 0.8rem;
  }
}
