.nav {
  position: absolute;
  bottom: 0;
  right: 15px;

  ul {
    display: flex;
    flex-direction: row;

    li {
      padding-right: 10px;
    }
  }
}

.menu {
  
  &--hide {
    ul {
      display: none;
    }
  }
  &--reveal:hover {
    ul {
      display: block;
    }
  }

  ul {
    
    @mixin atMedium {
      padding-left: 0px;
      line-height: 2rem;
      :nth-child(1) {
        padding-top: 1rem; 
      }
    }
  }
}