.nav {
  position: absolute;
  bottom: 0;
  right: 0;

  ul {
    display: flex;
    flex-direction: row;

    li {
      padding-right: 10px;
    }
  }
}

.dropdown {

  &--menu-hide {
    ul {
      display: none;
    }
  }
  &--menu-reveal:hover {
    ul {
      display: block;
    }
  }

  ul {

    @mixin atMedium {
      padding-left: 0px;
      line-height: 2em;
      :nth-child(1) {
        padding-top: 1em;
      }
    }
  }
}
